*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



nav{
    height: 15vh;
    width: 100%;
    background-color: #1b1b1b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    font-size: 27px;
    font-weight: bold;
    margin: 0 10px;
    color: white;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 0.5px;
    color: white;
    padding: 5px 5px;
    border-radius: 10px;
}
a:hover{
    background-color: white;
    color: black;
}

.nav-section{
    height: 85vh;
    width: 100%;
    background-color: cyan;
}
/*for page 1*/

form {
  max-width: 400px;
  margin: 50px auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  font-size: 1.8em;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: 0.3s ease;
  font-size: 1em;
}

input:focus {
  border-color: #5e72e4;
  outline: none;
  box-shadow: 0 0 5px rgba(94, 114, 228, 0.5);
}

button {
  width: 100%;
  padding: 12px;
  background-color: #5e72e4;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #324cdd;
}

h1 {
  font-size: 1em;
  color: #444;
  margin-top: 10px;
  text-align: center;
}

/* table */
form {
  max-width: 400px;
  margin: 30px auto;
  background: #f4f1f1;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1em;
}

button {
  padding: 10px 15px;
  background-color: #5e72e4;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 5px;
}

button:hover {
  background-color: #324cdd;
}

.vtable {
  width: 90%;
  margin: 30px auto;
  border-collapse: collapse;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  font-family: sans-serif;
}

.vtable th,
.vtable td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.vtable th {
  background-color: #5e72e4;
  color: white;
}

.vtable tr:nth-child(even) {
  background-color: #73b2be;
}
